body {
    margin: 20px;
    font-family: Tahoma;
}

.avatar {
    width: 200px;
}

.card {
    width: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: rgb(202, 188, 227);
    border-bottom: 5px solid black ;
    
}

.border{
    border: 1px dotted blue;
}
    